<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_leads"
        tools:targetApi="31">
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".admin.activity_estadisticas_admin"
            android:exported="false" />
        <activity
            android:name=".ejecutivo.activity_detalle_lead_ejecutivo"
            android:exported="false" />
        <activity
            android:name=".ejecutivo.activity_lead_historial_ejecutivo"
            android:exported="false" />
        <activity
            android:name=".admin.activity_asignar_atencion"
            android:exported="false" />
        <activity
            android:name=".admin.activity_detalle_lead_admin"
            android:exported="false" />
        <activity
            android:name=".subgerente.activity_lead_subgerente"
            android:exported="false" />
        <activity
            android:name=".ejecutivo.activity_lead_ejecutivo"
            android:exported="false" />
        <activity
            android:name=".admin.activity_lead_admin"
            android:exported="false" />
        <activity
            android:name=".admin.activity_home_admin"
            android:exported="false" />
        <activity
            android:name=".subgerente.activity_home_subgerente"
            android:exported="false" />
        <activity
            android:name=".ejecutivo.activity_home_ejecutivo"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>